{% extends 'base.html' %}

{% block content%}
<ul>
{% if current_user.is_authenticated %}
    <li>{{current_user.username}}</li>
    <li> <a href="{{url_for('main.profile', uname=current_user.username)}}">Profile</a> </li>
    <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
{%else%}
<li><a href="{{url_for('auth.login')}}">Sign in</a></li>
{% endif %}
<li> <a href="/new_pitch">Create a new pitch</a></li>

</ul>
<ul>
{% for pitch in pitches %}
<li>{{pitch.pitch_category}}</li>
<li>
    {{pitch.pitch_body}}
</li>
<li>{{pitch.posted_by}}</li>

<button>Upvote: {{pitch.pitch_upvote}} </button>
<button>Downvote: {{pitch.pitch_downvote}} </button>
<button> <a href="/comment/new/{{pitch.id}}"> Comment as {{current_user.username}}</a></button>
{% endfor %}



{% endblock %}